<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    This Splurty web page was created by <a target="_blank" href="https://github.com/OwitiDessy/WebDevelopment">Dessy</a> . An aspiring web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    Dessy is currently a student at the University of Central Florida coding boot camp.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'dessy.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dessy Owiti</h2>
      <br />
      <p>
        Dessy is an environmental specialist at the Department of health in Lee County Florida. Her work constitutes regulating the construction, repair or modification of onsite sewage treatment and disposal systems (septic systems). She is an aspiring web developer currently learning how to create web applications at the University of Central Florida coding boot camp.
      </p>
    </div>
  </div>

 </div>

<br class="clear" />
<br />
<br />
<br />
<br /> 